<!-- Header -->

{% if lang == config.default_language %}
{% set switch_to_title="العربية" %}
{% set switch_to_url="/ar" %}
{% else %}
{% set switch_to_title="English" %}
{% set switch_to_url="/" %}
{% endif %}

<header class="top-0 z-10 text-black dark:text-slate-200">
  <section class="flex justify-between items-center p-4 mx-auto max-w-6xl">
    <div>
      <button id="hamburger-button" class="text-3xl cursor-pointer sm:hidden" aria-expanded="false"
        aria-controls="mobile-menu" aria-label="Open menu">
        &#9776;
      </button>

      <nav class="hidden gap-1 items-center text-xl sm:flex" aria-label="main">
        {% for menu_item in res.menu_pages %}
        {% if lang == config.default_language %}
        {% set item_url = menu_item.url %}
        {%else %}
        {% set item_url = lang ~ menu_item.url %}
        {% endif %}
        <a class="py-1 px-2 hover:text-white hover:bg-teal-600 hover:opacity-90" href="{{get_url(path=item_url)}}">{% if
          menu_item.icon %} {{menu_item.icon | safe}} {%else%}{{menu_item.title}}{%endif%}</a>
        {% endfor %}

        <a href="{{get_url(path=switch_to_url)}}"
          class="py-1 px-2 hover:text-white hover:bg-teal-600 hover:opacity-90 noto-sans">
          <span class="border-solid">{{switch_to_title}}</span>
        </a>

        <!-- Dark/Light theme toggle -->
        <button class="hidden cursor-pointer" id="theme-toggle" aria-label="Toggle dark mode">
          <i class="mdi mdi-brightness-6"></i>
        </button>
      </nav>
    </div>
  </section>
  <section id="mobile-menu"
    class="hidden absolute top-0 z-10 flex-col w-full text-3xl text-teal-600 origin-top dark:text-white dark:bg-black bg-slate-200 justify-content-center animate-open-menu">
    <button class="self-end px-6 text-6xl cursor-pointer" aria-label="Close menu">
      &times;
    </button>
    <nav class="flex flex-col items-center py-8 min-h-screen" aria-label="mobile">
      {% for menu_item in res.menu_pages %}
      {% if lang == config.default_language %}
      {% set item_url = menu_item.url %}
      {%else %}
      {% set item_url = lang ~ menu_item.url %}
      {% endif %}
      <a href="{{get_url(path=item_url)}}" class="py-6 w-full text-center hover:opacity-90">{{menu_item.title |
        safe}}</a>
      {% endfor %}

      <a href="{{get_url(path=switch_to_url)}}"
        class="py-6 w-full text-center hover:opacity-90 noto-sans">{{switch_to_title | safe}}</a>
    </nav>
  </section>
</header>
