{% extends "base.html" %}
{% block title %} {% endblock %}
{% block content %}
<section id=content class=body>

    <h2 class="content-title">How I want my 2014</h2>
    <h3>My Resolutions For The Year 2014</h2>

    <ul>
        <li>
            Know God better.
        </li>
        <li>
            Finish "PyToggl", a Python wrapper for the Toggl time tracking API.
        </li>
        <li>
            Finish the <a href="/raspberry-pi-kitchen-project-pikitchen.html">PiKitchen project</a>.
        </li>
        <li>
            Revise Statistics &amp; Maths.
        </li>
        <li>
            Revise Data Structures and Algorithms.
        </li>
        <li>
            Read a book or more every month.
        </li>
        <li>
            Read more about history. Specially Egyptian minorities, like Nubians, Sinai's, Halayeb &amp; Shalateen etc.
        </li>
        <li>
            Read more about Africa.
        </li>
        <li>
            Blog more often. Once a week, or every two weeks at the most.
        </li>
        <li>
            Be an active member of the Egyptian Python User Group.
        </li>
        <li>
            Learn mobile application development.
        </li>
        <li>
            Start writing a book.
        </li>
        <li>
            Start learning Data Science.
        </li>
        <li>
            Trick myself into becoming a morning person one last time, or give up forever!
        </li>
        <li>
            Move to a better neighbourhood.
        </li>
        <li>
            Revise what I used to memorize of the Holy Qoran, and memorize more.
        </li>
        <li>
            Make a bilingual version of my site (Arabic and English).
        </li>
        <li>
            Create and publish some of the side projects in my ideas bucket.
        </li>
        <li>
            Learn French. And maybe blog in French too!
        </li>
        <li>
            Stop just using Free and Open Source Software, and start contributing and evangelizing heavily.
        </li>
        <li>
            Play with as many APIs as possible. Using Soundlcoud API to build a little soundlcound player for Linux is a good place to start.
        </li>
        <li>
            Fix my teeth.
        </li>
        <li>
            Learn how to buy Amira -my wife and the girl I love- gifts!
        </li>
        <li>
            Decide on the educational future of my 3 years old little Adam.
        </li>
        <li>
            Create a cool multi-monitors workstation at home.
        </li>
        <li>
            I really really hate going to the Gym, and I won't do it. So I want to start swimming or rowing for a sport.
        </li>
    </ul>

    <h3>My Reading List For 2014</h2>

    <ul>
        <li>
            "Blink" by Malcolm Gladwell
        </li>
        <li>
            "The Outliers" by Malcolm Gladwell
        </li>
        <li>
            "Python Geospatial Development" by Erik Westra
        </li>
        <li>
            "Two Scoops of Django" by Daniel Greenfeld &amp; Audrey Roy
        </li>
        <li>
            "High Availability MySQL" by Alex Davies
        </li>
        <li>
            "Raspberry Pi Home Automation with Arduino" by Andrew K. Dennis
        </li>
    </ul>

    <h3>Things I Hope to Acquire in 2014</h2>

    <ul>
        <li>
            Arduino, with various shields.
        </li>
        <li>
            3D printer.
        </li>
        <li>
            Somer carpentary hardware.
        </li>
        <li>
            A new laptop.
        </li>
        <li>
            An Ubuntu touch phone, a Sony Xperia or an android phone capable of running Ubuntu Touch.
        </li>
    </ul>
</section>
{% endblock %}
