{% extends "base.html" %}
{% block title %} {% endblock %}
{% block content %}
<section id=content class=body>

    <section>
        <article>
          <section id=content class=body>
            <h2 class=content-title>
              About Me
            </h2>
            <p>
              Hello, world! I am Mosab Ahmad. A passionate software engineer, supposedly a geek, a caffeine junkie, a food lover, an open source/free software believer and an entrepreneur in the make. Currently living in Cairo, Egypt.
            </p>
            <p>
              I have decided to coin my own law :
            </p>
            <h3 id="mosabs-law-of-conservation-of-software-bugs">
              Mosab’s Law Of Conservation of Software Bugs
            </h3>
            <blockquote>
              <p>
                <em>
                  &ldquo;Software Bugs may be created but can not be fully destroyed.&rdquo;
                </em>
              </p>
            </blockquote>
            <p>
              This law is inspired by the law of conservation of energy, and it means that bugs will be introduced to your software as you build the software, and there will always be at least one more bug to solve, might not be seen, but it is there.
            </p>
            <p>
              <img alt="" src="http://farm9.staticflickr.com/8012/7460135900_155e29081d_c.jpg" />
            </p>
          </section>
      </article>
  </section>
{% endblock %}

