{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

<h3>
    Hello, world! I am Mosab Ahmad, a passionate software engineer, supposedly a geek, a caffeine junkie, a food lover, an open source/free software believer and an entrepreneur in the make. Currently living in Cairo, Egypt.
</h3>

<hr />

<h3>Blog posts</h3>

<table>
    <tbody>
    {% for article in dates %}
        <tr>
        <td>{{ article.date.strftime("%d %b %Y") }}</td>
        <td><a href="{{ article.url }}">{{ article.title }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
