{% extends "base.html" %}
{% block title %} {% endblock %}
{% block content %}
<section id=content class=body>
  <h2 class="content-title">
    Projects
  </h2>
  <h3 id="my-projects">
    My Projects
  </h3>
  <!-- * **Shaghal.com :** Currently Co-Founding an Arabic portal that is specialiezed in entrepreneurship, employment and labor market, where I handle all the Technology related stuff. -->

  <ul>
    <li>
      <p>
        <strong>
          <a href="/raspberry-pi-kitchen-project-pikitchen.html">
            PiKitchen Project
          </a>
          :
        </strong>
        A Raspberry Pi solution for tap tracking in "The District" co-working space in Egypt.
      </p>
    </li>
    <li>
      <p>
        <strong>
          <a href="http://www.zobad.net" target="_blank">
            Zobad.net
          </a>
          :
        </strong>
        The best of the internet for Arab users! A platform that collects and aggregates interesting content for Arab internet users. Currently it serves only videos, but soon will serve other stuff as well.
      </p>
    </li>
    <li>
      <p>
        <strong>
          <a href="https://github.com/mos3abof/toggl_target" target="_blank">
            Toggl Target
          </a>
          :
        </strong>
        At work, we track our working hours on Toggl (www.toggl.com), so I created this small project to calculate how many hours I should work to achieve my monthly goals.
      </p>
    </li>
    <li>
    	<p>
	<strong>
		<a href="http://gaza.mos3abof.com" target="_blank">
			[Gaza Under Attack] News Timeline
		</a>
		:
	</strong>
		An attempt at automated aggregation of news about the brutal Israeli attack on Gaza Strip in a descending chronological timeline.
	</p>
    </li>
    <li>
    	<p>
	<strong>
		<a href="http://www.gridstatusnow.com/" target="_blank">Grid Status Now</a>
	</strong>
  Egypt's Power Grid Load Status As A Web Service.
	A service parses the data in the <a href="http://loadmeter.egyptera.org/MiniCurrentLoadClock3.aspx" target="_blank">Load Meter</a> provided by The Egyptian Electric Utility and Consumer Protection Regulatory Agency (EGYPTERA) and presents it in a more human friendly way.
		 It also provides an API so other developers can build other web and mobile applications on top of it.
	</p>
    </li>
    <li>
        <strong>
          <a href="http://power-close.mos3abof.com/" target="_blank">Firefox Power Close</a>
        </strong>
        A firefox addon, for the tab addict, to close all tabs with a domain name. For example, if you have many facebook tabs open and not in order, you can just use this addon, write "facebook.com", hit enter and voila, all facebook tabs are now closed! Code is <a href="https://github.com/mos3abof/firefox-power-close" target="_blank">on github</a>.

    </li>
  </ul>
  <!-- * **Mastery Gauge :** Author of many best sellers Malcolm Galdwell said in his book “Outliers” that experts reached the conclusion that in order to master a skill, a tool or a job you need to spend at least 10 thousand hours deliberately practicing it! This project is a simple zen tracker for people to track their journey to greatness and mastery of what they want. -->

  <!-- * **Vishen’s Excercise :** An online application that makes it easier to practice an excercise devised by Vishen Lakhiani, co-founder and CEO of Mindvalley, that is designed to change the way you plan your life and see your goals. It’ll change the way you see your career, mission, and life purpose unfolding. -->

  <hr />
  <h3 id="projects-i-worked-on">
    Projects I Work(ed) On
  </h3>
  <ul>
    <li>
      <p>
        <strong>
          <a href="http://www.zlien.com" target="_blank">
            Zlien.com
          </a>
          :
        </strong>
        Zlien is a US national mechanic lien and preliminary notice filing service, and also provides the LienPilot web-based lien compliance manager and deadline calculator.
      </p>
    </li>
    <li>
      <p>
        <strong>
          <a href="http://www.wuzzuf.com" target="_blank">
            Wuzzuf.com
          </a>
          (formerly basharjobs):
        </strong>
        A smart revolutionary next generation recruitment platform, I had the honor of leading the development team under supervision from the startup’s CTO and I pretty much laid the software architecture under this great project.
      </p>
    </li>
    <li>
      <p>
        <strong>
          20at.com:
        </strong>
        A youth oriented editorial site that was really pouplar and first of a kind in the Arab world. I developed the whole project from scratch to meet the needs of the editorial team. This was the start of my career.
	</p>
	<p>
        <em>
          Note: The website owners have changed and the new owners released a very poor new version instead of the old popular one. I have nothing to do with the current project, and I am really sad for what it has become!
        </em>
      </p>
    </li>
  </ul>
  <!-- * **Virtual Volunteering E-Course:** I designed and taught an online course on the topic of “virtual volunteering”, conducted on Islamonline.net e-training service, the course duration was a month and contained a graduation project. Because of this course the company won the “Volunteering Award of the year for foundations” in Qatar in Summer 2006. Please note that I was under 20 years old when I produced this, it may be irrelevant, and immature. You can dowanloed it under the terms of the Creative Commons License “Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0)” from here : [tar.gz|zip] -->

  <hr />
  <p>
    I have also worked on many intranet and applications that either were subcontracted or meant for internal use by the client(s) on freelancing and/or contract basis.
  </p>
</section>
</article>
{% endblock %}
