    <meta property="og:title" content="Mosab Ahmad | Software Engineer, Entrepreneur in the make"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.mos3abof.com"/>
    <meta property="og:image" content="http://farm5.staticflickr.com/4018/4308510641_81e137b4c9_n.jpg"/>
    <meta property="og:site_name" content="Mosab Ahmad"/>
    <meta property="fb:admins" content="mos3abof"/>
    <meta property="og:description" content="A proud Muslim Egyptian, a caffeine junkie, a food lover, supposedly a geek, a software engineer, an open source & free software believer and -finally- an entrepreneur in the make. Currently living in Cairo, Egypt"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Mosab Ahmad | Software Engineer & Entrepreneur in the make">
    <meta name="twitter:url" content="http://www.mos3abof.com">
    <meta name="twitter:image" content="http://farm5.staticflickr.com/4018/4308510641_81e137b4c9_n.jpg">
    <meta name="twitter:site" content="@mos3abof">
    <meta name="twitter:description" content="A proud Muslim Egyptian, a caffeine junkie, a food lover, supposedly a geek, a software engineer, an open source & free software believer and -finally- an entrepreneur in the make. Currently living in Cairo, Egypt">