<div class="footer">
    <p>
    	&copy; 2007-2012 <a href="/">Mosab Ahmad</a> | 
    	This site uses 
    	<a href="http://www.python.org/" target="_blank">Python</a>, 
    	<a href="http://flask.pocoo.org/" target="_blank">Flask</a>
    	&amp; <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Bootstrap</a> 
    	and is hosted on 
    	<a href="https://cloud.google.com/products/" target="_blank">Google App Engine</a>. 
    </p>
    <p>
    	Site theme is based on <a href="http://mako.cc">Mako's website</a> and even borrows some of his CSS with his permission.
	</p>
	<p>
    	The code for this website is 
    	<a href="https://github.com/mos3abof/mos3abof.com" target="_blank">available on github</a>.
    </p>
</div>
