{{ define "main" }}
<!-- <div id="home-jumbotron" class="jumbotron text-center"> -->
<!--   <h1 class="title">{{ .Site.Title }}</h1> -->
<!-- </div> -->

<div id="intro">
  <h2>Hello, world!</h2>
  <p>
    <!-- <img src="https://mosab.co.uk/theme/images/mosab.png" style="width: 100px; float: right;"> -->
    I am a passionate self-taught software engineer and site reliability
    engineer, a father to two lovely kids, a husband to an
    <a href="https://amiraqassim.com">amazing wife</a>, supposedly a geek, a
    caffeine junkie, a food lover, an open source/free software believer, in a
    love/hate relationship with running, and experimenting with cycling.
    Originally from Cairo, Egypt. Currently living in the United Kingdom.
  </p>
</div>
{{ end }}

{{ define "list" }}
<div id="content-list">
  <h2>Articles</h2>
  {{ range.Site.Pages.ByPublishDate.Reverse }}
  {{ if  .Params.post }}
  <article>
    <p style="margin: 0 0 5px 20px">
      <time>
        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 02, 2006" }}
        {{ .PublishDate.Format $dateFormat }}
      </time>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </p>
  </article>
  {{ end }}
  {{ end }}
</div>
{{ end }}
