{% macro list_posts(pages) %}
<ul class="list-none mx-auto mt-8">
  {%- for page in pages %}
  <section class="list-item">
    <div class="post-header">
      <li class="my-1 flex"><time class="text-slate-400 hidden sm:block pt-3">{{ page.date | date(format="%Y-%m-%d")
          }}</time> <a href="{{ page.permalink }}"
          class="text-2xl mx-2 hover:text-white hover:bg-teal-600 p-1">{{page.title}}

          {% if page.draft %}
          <span class="draft-label">DRAFT</span>
          {% endif %}
        </a></li>
      <div>
        <div class="meta">
          <div class="description">
            {% if page.description %}
            {{ page.description }}
            {% elif page.summary %}
            {{ page.summary | safe }}&hellip;
            {% else %}
            {% set hide_read_more = true %}
            {% endif %}
          </div>

          {% if not hide_read_more %}
          <a class="readmore" href={{ page.permalink }}>Read more ⟶</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  {% endfor -%}
</ul>
{% endmacro list_posts %}

{% macro list_terms(terms) %}
<ul>
  {%- for term in terms %}
  <section class="list-item">
    <h1 class="title">
      <a href={{ term.permalink }}>{{term.name}}</a>
    </h1>
  </section>

  {% endfor -%}
</ul>
{% endmacro list_terms %}

{% macro tags(page, short=false) %}
{%- if page.taxonomies and page.taxonomies.tags %}
<span class="post-tags-inline">
  {%- if short %}
  ::
  {%- set sep = "," -%}
  {% else %}
  :: tags:&nbsp;
  {%- set sep = "&nbsp;" -%}
  {% endif -%}
  {%- for tag in page.taxonomies.tags %}
  <a class="post-tag" href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">#{{ tag }}</a>
  {%- if not loop.last %}{{ sep | safe }}{% endif -%}
  {% endfor -%}
</span>
{% endif -%}
{% endmacro tags %}

{% macro page_header(title) %}
<h1 class="text-2xl text-center sm:text-5xl sm:text-left text-slate-900
          dark:text-slate-300 mt-8 mb-4 bg-yellow-10">{{title}}<span
    class="text-teal-600 text-7xl m-0 p-0 leading-[0px]">.</span>
</h1>
{% endmacro content %}

{% macro content(page) %}
<!-- Main  part of the page -->
<main class="max-w-6xl mx-auto my-4">
  <!-- Intro Section -->
  <section class="flex flex-col-reverse justify-center sm:flex-row p-6 items-center gap-8">
    <article class="w-screen">
      {{ post_macros::page_header(title=page.title) }}

      {% if page.date %}
      <span class="text-slate-400 sm:text-1/2xl text-sl font-mono">Posted on <time class="text-slate-500">{{ page.date |
          date(format="%Y-%m-%d") }}</time></span>
      {% endif %}

      {% if page.draft %}
      <span class="draft-label">DRAFT</span>
      {% endif %}

      {# Optional table of contents #}
      {% if page.extra.toc | default(value=false) %}
      {% if page.toc %}
      <h1>Table of Contents</h1>
      <ul>
        {% for h1 in page.toc %}
        <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
          <ul>
            {% for h2 in h1.children %}
            <li>
              <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            </li>

            {% if h2.children %}
            <ul>
              {% for h3 in h2.children %}
              <li>
                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endif %}

      <div class="my-4">
        {{ page.content | safe }}

        {% if page.taxonomies and page.taxonomies.tags %}
        <aside class="text-sl text-center sm:text-left text-slate-700 dark:text-slate-300 mt-8
              font-mono">
          Tags:
          {% for tag in page.taxonomies.tags %}
          <a href="{{ get_taxonomy_url(kind='tags' , name=tag) | safe }}"
            class="text-teal-600 p-1 hover:text-white hover:bg-teal-600">{{ tag }}</a>
          {% endfor %}
        </aside>
        {% endif %}

      </div>
    </article>
  </section>
</main>
{% endmacro content %}

{% macro cards_posts(pages) %}
<div class="cards">
  {%- for page in pages %}
  <div class="card">
    {% if page.extra.local_image %}
    <img class="card-image" alt={{ page.extra.local_image }} src="{{ get_url(path=page.extra.local_image) }}" />
    {% elif page.extra.remote_image %}
    <img class="card-image" alt={{ page.extra.remote_image }} src="{{ page.extra.remote_image }}" />
    {% else %}
    <div class="card-image-placeholder"></div>
    {% endif %}

    <div class="card-info">
      <h1 class="card-title">
        {% if page.extra.link_to %}
        <a href={{ page.extra.link_to }}>{{page.title}}</a>
        {% else %}
        <a href={{ page.permalink }}>{{page.title}}</a>
        {% endif %}
      </h1>

      <div class="meta">
        {%- if page.date %}
        <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
        {% endif -%}
        {% if page.draft %}
        <span class="draft-label">DRAFT</span>
        {% endif %}
      </div>

      <div class="card-description">
        {% if page.description %}
        {{ page.description }}
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor -%}
</div>
{% endmacro cards_posts %}
