{% macro list_posts(pages) %}
{% set res = load_data(path=config.extra.path_language_resources ~ lang ~ '.toml') %}
<ul class="list-none mx-auto mt-8 {{res.settings_font_family}} {{res.settings_body_style}}">
  {% for page in pages %}
      <section class="list-item">
        <div class="post-header">
          <li class="my-1 flex">
            {% if page.date %}
              <time class="text-slate-400 hidden sm:block pt-3">{{ page.date | date(format="%Y-%m-%d")
                }}</time>
            {% endif %}

            <a 
            href="{{ page.permalink }}" 
            class="text-2xl mx-2 hover:text-white hover:bg-teal-600 p-1 {{res.settings_font_family}} {{res.settings_body_style}}"><span
                class="sm:hidden text-teal-600">- </span>{{page.title}}

              {% if page.draft %}
                <span class="draft-label">DRAFT</span>
              {% endif %}
            </a>
          </li>
          <div>
          <div class="meta {{res.settings_font_family}} {{res.settings_body_style}}">
            <div class="description {{res.settings_font_family}} {{res.settings_body_style}}">
              {% if page.description %}
                {{ page.description }}
              {% elif page.summary %}
                {{ page.summary | safe }}&hellip;
              {% else %}
                {% set hide_read_more = true %}
              {% endif %}
            </div>

          </div>
        </div>
      </section>
  {% endfor %}
</ul>

<!-- </article> -->
<!-- </section> -->
{% endmacro list_posts %}

{% macro list_taxonomy_terms(terms) %}
{% set res = load_data(path=config.extra.path_language_resources ~ lang ~ '.toml') %}
  <ul class="list-none mx-auto mt-8 {{res.settings_font_family}} {{res.settings_body_style}}">
      {%- for term in terms %}
        <section class="list-item">
          <div class="post-header">
            <li class="my-1 flex">
                <h1 class="title">
                  <a href={{ term.permalink }}>{{term.name}}</a>
                </h1>
            </li>
          </section>
        </div>
      {% endfor -%}
  </ul>
{% endmacro list_terms %}

{% macro tags(page, short=false) %}
{% set res = load_data(path=config.extra.path_language_resources ~ lang ~ '.toml') %}
  {%- if page.taxonomies and page.taxonomies.tags %}
    <span class="post-tags-inline {{res.settings_font_family}} {{res.settings_body_style}}">
      {%- if short %}
        ::
        {%- set sep = "," -%}
      {% else %}
        :: tags:&nbsp;
        {%- set sep = "&nbsp;" -%}
      {% endif -%}
      {%- for tag in page.taxonomies.tags %}
        <a class="post-tag" href="{{ get_taxonomy_url(kind='tag', name=tag) | safe }}">#{{ tag }}</a>
        {%- if not loop.last %}{{ sep | safe }}{% endif -%}
      {% endfor -%}
    </span>
  {% endif -%}
{% endmacro tags %}

{% macro page_header(title) %}
{% set res = load_data(path=config.extra.path_language_resources ~ lang ~ '.toml') %}
  <h1 class="text-3xl font-bold sm:text-4xl text-slate-900 dark:text-slate-300 {{res.settings_font_family}} {{res.settings_body_style}}">
    {{title}}<span class="text-teal-600 text-7xl m-0 p-0 leading-[0px]">.</span></h2>
{% endmacro page_header %}

{% macro content(page) %}
{% set res = load_data(path=config.extra.path_language_resources ~ lang ~ '.toml') %}
<!-- Intro Section -->
<section class="flex flex-col justify-center sm:flex-row p-6 items-center gap-8  {{res.settings_font_family}} {{res.settings_body_style}}">
  <article class="w-screen px-4 sm:px-0 {{res.settings_font_family}} {{res.settings_body_style}}">
    {{ post_macros::page_header(title=page.title) }}

    {% if page.date %}
      <span 
        class="text-slate-400 sm:text-1/2xl text-sl font-mono {{res.settings_font_family}} {{res.settings_body_style}}">{{res.posted_on}} <time 
          class="text-slate-500">{{ page.date |
          date(format="%Y-%m-%d") }}</time></span>
    {% endif %}

    {% if page.draft %}
      <span class="draft-label">DRAFT</span>
    {% endif %}

    {# Optional table of contents #}
    {% if page.extra.toc | default(value=false) %}
      {% if page.toc %}
      <h1>{{res.table_of_contents}}</h1>
      <ul>
        {% for h1 in page.toc %}
        <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
          <ul>
            {% for h2 in h1.children %}
            <li>
              <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            </li>

            {% if h2.children %}
            <ul>
              {% for h3 in h2.children %}
              <li>
                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endif %}

    <div class="my-4 {{res.settings_font_family}} {{res.settings_body_style}}">
      {{ page.content | safe }}

      {% if page.taxonomies and page.taxonomies.tags %}
        <aside class="text-sl text-slate-700 dark:text-slate-300 mt-8
              font-mono {{res.settings_font_family}} {{res.settings_body_style}}">
          Tags:
          {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind='tags' , name=tag) | safe }}"
              class="text-teal-600 p-1 hover:text-white hover:bg-teal-600">#{{ tag }}</a>
          {% endfor %}
        </aside>
      {% endif %}

    </div>
  </article>
</section>
{% endmacro content %}


{% macro cards_posts(pages) %}
{% set res = load_data(path=config.extra.path_language_resources ~ lang ~ '.toml') %}
<div class="cards">
  {%- for page in pages %}
    <div class="card">
      {% if page.extra.local_image %}
        <img class="card-image" alt={{ page.extra.local_image }} src="{{ get_url(path=page.extra.local_image) }}" />
      {% elif page.extra.remote_image %}
        <img class="card-image" alt={{ page.extra.remote_image }} src="{{ page.extra.remote_image }}" />
      {% else %}
        <div class="card-image-placeholder"></div>
      {% endif %}

      <div class="card-info">
        <h1 class="card-title">
          {% if page.extra.link_to %}
            <a href={{ page.extra.link_to }}>{{page.title}}</a>
          {% else %}
            <a href={{ page.permalink }}>{{page.title}}</a>
          {% endif %}
        </h1>

        <div class="meta">
          {%- if page.date %}
            <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
          {% endif -%}

          {% if page.draft %}
            <span class="draft-label">DRAFT</span>
          {% endif %}
        </div>

        <div class="card-description">
          {% if page.description %}
            {{ page.description }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor -%}
</div>
{% endmacro cards_posts %}
