{{ define "main" }}

<section id="content">
  <article>
    <header>
      <h1 id="title">{{ .Title }}</h1>
      {{ if .PublishDate }}
      <p id="date">
        <time>
          {{ $dateTime := .PublishDate.Format "2006-01-02" }}

          {{ $dateFormat := .Site.Params.dateFormat | default "Jan 02, 2006" }}

          {{ .PublishDate.Format $dateFormat }}
        </time>
      </p>
      {{ end }}
    </header>

    {{ .Content }}
  </article>
  {{ partial "metadata.html" . }}
</section>

{{ end }}
