{#
  strava embeds a Strava athlete activity-summary widget.

  Usage:
    {{ strava(athlete_id="60680051", token="9b24178edb4091c708c0ab0685680dbedc141f7b") }}

  Parameters:
    athlete_id (string) Strava numeric athlete ID.
    token      (string) Widget authentication token from the embed URL.
    width      (string, optional) iframe width.  Default: "300".
    height     (string, optional) iframe height. Default: "160".
#}
<div class="strava-widget" dir="ltr">
  <iframe
    src="https://www.strava.com/athletes/{{ athlete_id }}/activity-summary/{{ token }}"
    width="{{ width | default(value='300') }}"
    height="{{ height | default(value='160') }}"
    frameborder="0"
    allowtransparency="true"
    scrolling="no">
  </iframe>
</div>
