{% extends "base.html" %}

{% block main_content %}
{% set res = load_data(path=config.extra.path_language_resources ~ lang ~ '.toml') %}
{% set home_url = "/" %}
{% if lang != config.default_language %}{% set home_url = "/" ~ lang ~ "/" %}{% endif %}

<div class="flex items-center justify-center mt-20" dir="{{ res.settings_direction }}">
  <div class="flex flex-col">

    <div class="flex flex-col items-center">
      <div class="text-teal-600 font-bold text-7xl">
        404
      </div>

      <div class="font-bold text-3xl xl:text-7xl lg:text-6xl md:text-5xl mt-10 dark:text-slate-200">
        {{ res.not_found_header }}
      </div>

      <div class="font-medium text-sm md:text-xl lg:text-2xl mt-8 text-slate-400 dark:text-slate-500">
        {{ res.not_found_text }}
      </div>
    </div>

    <div class="flex flex-col mt-15">
      <div class="flex flex-col items-stretch mt-5">
        <a href="{{ home_url }}" aria-label="{{ res.aria_to_homepage }}">
          <div class="flex flex-row group px-4 py-8 transition-all duration-200 delay-100">

            <div class="rounded-xl bg-slate-200 dark:bg-slate-800 px-3 py-2 md:py-4">
              <i class="mdi mdi-home-outline mx-auto text-teal-600 text-2xl md:text-3xl"></i>
            </div>

            <div class="grow flex flex-col {% if res.settings_direction == 'rtl' %}pr-5{% else %}pl-5{% endif %} pt-2">
              <div class="font-medium text-sm sm:text-lg lg:text-xl text-teal-600 group-hover:font-bold">
                {{ res.aria_to_homepage }}
              </div>
              <div class="font-semibold text-sm md:text-md lg:text-lg text-slate-400 dark:text-slate-500 group-hover:text-slate-600 dark:group-hover:text-slate-300">
                {{ res.not_found_home_hint }}
              </div>
            </div>

            <i class="mdi {% if res.settings_direction == 'rtl' %}mdi-chevron-left{% else %}mdi-chevron-right{% endif %} text-gray-400 mdi-24px my-auto {% if res.settings_direction == 'rtl' %}pl-2{% else %}pr-2{% endif %} group-hover:text-gray-700 dark:group-hover:text-gray-300 transition-all duration-200 delay-100"></i>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock main_content %}
