{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en" class="sm:scroll-smooth">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="Viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{get_url(path='css/style.css')}}">
  <link rel="icon" type="image/x-icon" href="{{get_url(path='./images/favicon.ico')}}">
  <!-- MDI Icons -->
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css">

  {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endblock %} <script src="{{get_url(path='js/main.js')}}" defer></script>

  <title>
    {{config.title}}
    {% if page.title %}
    | {{page.title}}
    {% endif %}
  </title>
</head>

<body class="min-h-screen bg-slate-50 dark:bg-black dark:text-white selection:text-white
    selection:bg-blue-600">

  <!-- Header -->
  {% include "partials/header.html" %}

  <!-- Main  part of the page -->
  <main class="max-w-6xl mx-auto my-4">
    {% block main_content %} {% endblock %}
  </main>


  <!-- Footer -->
  {% include "partials/footer.html" %}
</body>

</html>
