<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
  <meta charset="utf-8">
    <title>{{config.title}} {% if page.title %} | {{ page.title }} {% endif %}</title>
    <link rel="stylesheet" href="{{get_url(path='/css/style.css')}}" />
    <link rel="stylesheet" href="{{get_url(path='/css/line-awesome.css')}}" />
    <!--<script src="/js/main.js" defer></script> -->
    {% block head_extend %}{% endblock %}
  </head>

  <body class="flex">
    <div class="flex w-screen top-0">
      <header>
        <ul>
          <li><a href="{{get_url(path='/')}}">Home</a></li> |
          <li><a href="{{get_url(path='@/blog/_index.md')}}">blog</a></li> |
          <li><a href="{{get_url(path='@/projects.md')}}">Projects</a></li> |
          <li><a href="{{get_url(path='@/resources.md')}}">Resources</a></li> |
          <li><a href="{{get_url(path='@/resume.md')}}">Resume</a></li> |
          <li><a href="{{get_url(path='@/cycling.md')}}">Cycling</a></li> |
          <li><a href="{{get_url(path='@/woodworking.md')}}">Woodworking</a></li> |
          <li><a href="{{get_url(path='@/contact.md')}}">Contact</a></li>
        </ul>
      </header>
    </div>

    <div class="flex">
      {% block content %} {% endblock %}
    </div>

    <div class="flex">
      <footer>
        <hr />
        (c) 2024 Mosab 
        <a href="http://www.catb.org/hacker-emblem/"><img
          src="https://mosab.co.uk/images/glider.png"
          alt="hacker emblem"
          title="hacker emblem"
          style="display: inline"
        /></a>
      </footer>
    </div>
  </body>
</html>
