{% extends "base.html" %}

{% block head_extend %}
    <title>Home | {{ config.title }}</title>
{% endblock head_extend %}

{% block content %}
  <h1 class="font-serif text-8xl lg:text-4xl text-slate-900 dark:text-slate-300">
    {{ config.title }}
  </h1>

{% block homepage_content_extend %}
  Welcome to my online space! I am a self-taught software and systems engineer with a passion for database systems, 
  distributed systems, systems programming, operating systems, and open source/free software. When I’m not working, 
  you can find me spending time with my lovely family or indulging in my hobbies of cycling, cooking and woodworking.

  <img 
    class="intro-image"
    src="{{get_url(path='/img/mosab-cigar.png')}}" 
    alt="Mosab smoking a cigar"
    title="{{config.title}}"
    style="display:block;"
  />

{% endblock homepage_content_extend %}
{% endblock content %}
