<header id="nav">
  <h1 style="font-size: 2em">
    <a href="https://mosab.co.uk/" style="text-decoration: none"
      >Mosab Ibrahim</a
    >
  </h1>
  <div>
    {{ range.Site.Menus.main }}

    <a href="{{ .URL }}">
      {{ $text := print .Name | safeHTML }}
      {{ $text }}</a
    >
    /
    {{ end }}

    <!-- <a href="">Home</a> / <a href="">About</a> / -->
    <!-- <a href="projects.html">Projects</a> / <a href="">Resume</a> / -->
    <!-- <a href="">About</a> / <a href="">Contact</a> -->
  </div>
</header>
