{% extends 'base.html' %}
{% block title %} 
  Code
{% endblock %}
{% block content %}
  <h3>Code on Github</h3>
  <p>
    A list of my Github repositories, where I keep most of my open source code.
  </p>
  <p>
    If you want to go directly to my Github account : 
    <a href="http://www.github.com/mos3abof" target="_blank">mos3abof</a>.
  </p>
  <div class="github-widget" data-user="mos3abof" style="margin-top: 24px;"></div>

  <p>
    This page is using the 
    <a href="https://github.com/jawj/github-widget" target="_blank">github-widget</a> by 
    <a href="http://mackerron.com/" target="_blank">George MacKerron</a>.
  </p>

{% endblock %}
