{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <h3>Contact me on my emails</h3>
    <ul>
       <li>Email me : <a href="mailto:mosab.ahmad@gmail.com">mosab.ahmad@gmail.com</a></li>
       <li>My <a href="http://www.linkedin.com/in/mosab" target="_blank">Linkedin Profile</a></li>
       <li>Check my <a href="http://wuzzuf.com/me/mos3abof" target="_blank">Wuzzuf profile</a></li>    
     </ul>

<!-- 
    <h3>Or use this contact form</h3>

    <div class="span7">
      <form class="form-horizontal" method="POST" action=".">
        <fieldset>
          {{form.csrf}}

          {% set form_field = form.subject %}
          {% include 'bit/form_text_field.html' %}

          {% set form_field = form.feedback %}
          {% include 'bit/form_textarea_field.html' %}

          {% set form_field = form.email %}
          {% include 'bit/form_text_field.html' %}

          <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-loading" data-loading-text="Sending Feedback..">
              Send Feedback
            </button>
          </div>
        </fieldset>
      </form>
    </div> -->

     <!-- AddThis Follow BEGIN -->
          <h3>Or socialize with me</h3>
          <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
            <a class="addthis_button_facebook_follow" addthis:userid="mos3abof"></a>
            <a class="addthis_button_twitter_follow" addthis:userid="mos3abof"></a>
            <a class="addthis_button_linkedin_follow" addthis:userid="mosab"></a>
            <a class="addthis_button_google_follow" addthis:userid="103419053954297467507"></a>
            <a class="addthis_button_flickr_follow" addthis:userid="mos3abof"></a>
          </div>
          <!-- AddThis Follow END -->
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ff234b4315bdfaa">
</script>
<!--<a href='http://vizualize.me/mos3abof?r=mos3abof' title="Mosab Ahmad's infographic CV on vizualize.me" target='_blank'>
  <img src='http://vizualize.me/media/img/socialicons/viewmyviz.png'/>
</a>-->
    <!-- AddThis Follow END -->
    
  </div>
{% endblock %}
