{% extends 'base.html' %}
{% block content %}
          <h2 style="color:#2A85E8;">
            <i>
              <a href="/">
                Mosab Ahmad | Software Engineer  &amp; Entrepreneur in the make
              </a>
            </i>
          </h2>

          <h3>My Projects</h3>
          <ul>
              <li>
              <a href="http://www.shaghal.com" target="_blank"><strong>Shaghal.com</strong></a> : 
              <strong>Currently Co-Founding an Arabic portal that is specialiezed in entrepreneurship, employment and labor market, where I handle all the Technology related stuff.</strong>
            </li>
            <li>
              <a href="http://www.zobad.net" target="_blank"><strong>Zobad.net</strong></a> : The best of the internet for Arab users! A platform that collects and aggregates interesting content for Arab internet users. Currently it serves only videos, but soon will serve other stuff as well.
            </li>
            <li>
              <a href="/code"><strong>My open source projects</strong></a> : I have some open source projects that I keep at Github. This page is dedicated to listing all the repositories on my Github account.
            </li>
            <li>
              <a href="http://www.10000togo.info" target="_blank"><strong>Mastery Gauge</strong></a> : 
              Author of many best sellers <strong>Malcolm Galdwell</strong> said in his book <strong>"Outliers"</strong> that experts reached the conclusion that 
              in order to master a skill, a tool or a job you need to spend at least 10 thousand hours deliberately practicing it! 
              This project is a simple zen tracker for people to track their journey to greatness and mastery of what they want.</li>
            <li>
              <a href="http://www.mos3abof.com/vishen/" target="_blank"><strong>Vishen's Excercise</strong></a> :
              An online application that makes it easier to practice an excercise devised by <strong>Vishen Lakhiani</strong>, co-founder and CEO of <strong>Mindvalley</strong>, that is designed to change the way you plan your life and see your goals. It'll change the way you see your career, mission, and life purpose unfolding.
            </li>
          </ul>
          

          <h3>Projects I Worked On</h3>

          <ul>
            <li class="padded"><a href="http://www.wuzzuf.com" target="_blank"><strong>Wuzzuf (formerly basharjobs)</strong></a>:
              A really smart, revolutionary and a next generation recruitment platform, I had the honor of leading the development team under supervision from the startup's CTO and I pretty much laid the software architecture under this great project.
            </li>
            <li class="padded"><a href="http://www.20at.com" target="_blank"><strong>20at.com</strong></a>:
              A youth oriented editorial site that was really pouplar and first of a kind in the Arab world. I developed the whole project from scratch to meet the needs of the editorial team. This was the start of my career.
            </li>
            <li class="padded"><strong>Virtual Volunteering E-Course</strong>:
              I designed and taught an online course on the topic of "virtual volunteering", conducted on Islamonline.net e-training service, 
              the course duration was a month and contained a graduation project. Because of this course the company won the 
              <strong>"Volunteering Award of the year for foundations"</strong> in Qatar in Summer 2006. 

              Please note that I was under 20 years old when I produced this, it may be irrelevant, and immature.
              
              You can dowanloed it under the terms of the Creative Commons License "Attribution-NonCommercial-ShareAlike 3.0 Unported <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" target="_blank">(CC BY-NC-SA 3.0)</a>" from here : [<a href="http://dl.dropbox.com/u/29327978/Creative%20Commons/Volunteering%20Etraining%20Material/volunteering-material-cc.tar.gz">tar.gz</a>|<a href="http://dl.dropbox.com/u/29327978/Creative%20Commons/Volunteering%20Etraining%20Material/volunteering-material-cc.zip">zip</a>]
            </li>
          </ul>
          <p>
            I have also worked on many intranet and applications that either were subcontracted or meant for internal use by the client(s) on freelancing and/or contract basis.
          </p>
          
          

          <h3>Mosab's Law Of Conservation of Software Bugs</h3>
          <p>
            <center style="font-size:25px; color:#2A85E8;">
              <i>Software Bugs may be created but can not be fully destroyed.</i>
            </center>
          </p>
          <p>
            This law is inspired by the law of conservation of energy, and it means that bugs will be introduced to your software as you build the software, a nd there will always be at least one more bug to solve, might not be seen, but it is there.
          </p>

          

          <!-- AddThis Follow BEGIN -->
          <h3>Follow me</h3>
          <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
            <a class="addthis_button_facebook_follow" addthis:userid="mos3abof"></a>
            <a class="addthis_button_twitter_follow" addthis:userid="mos3abof"></a>
            <a class="addthis_button_linkedin_follow" addthis:userid="mosab"></a>
            <a class="addthis_button_google_follow" addthis:userid="103419053954297467507"></a>
            <a class="addthis_button_flickr_follow" addthis:userid="mos3abof"></a>
          </div>
          <!-- AddThis Follow END -->
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ff234b4315bdfaa">
</script>
<!--<a href='http://vizualize.me/mos3abof?r=mos3abof' title="Mosab Ahmad's infographic CV on vizualize.me" target='_blank'>
  <img src='http://vizualize.me/media/img/socialicons/viewmyviz.png'/>
</a>-->
<!-- AddThis Follow END -->


{% endblock %}
